global
    log stdout format raw local0

resolvers docker
    nameserver dns 127.0.0.11:53
    hold valid 5s

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 1h
    timeout server 1h

frontend rabbitmq_amqp
    bind *:5672
    default_backend rabbitmq_nodes

backend rabbitmq_nodes
    option tcp-check

    default-server check resolvers docker init-addr libc,none inter 2s fall 2 rise 2 on-marked-down shutdown-sessions

    server rabbit-0 rabbitmq-0:5672 on-marked-up shutdown-backup-sessions
    server rabbit-1 rabbitmq-1:5672 backup
    server rabbit-2 rabbitmq-2:5672 backup

frontend rabbitmq_management
    bind *:15672
    default_backend rabbitmq_management_nodes

backend rabbitmq_management_nodes
    default-server resolvers docker init-addr libc,none

    server rabbit-0 rabbitmq-0:15672 track rabbitmq_nodes/rabbit-0
    server rabbit-1 rabbitmq-1:15672 track rabbitmq_nodes/rabbit-1 backup
    server rabbit-2 rabbitmq-2:15672 track rabbitmq_nodes/rabbit-2 backup
